{
  admin off
}

http://:4200 {
    try_files {path} /index.html
    file_server
}

https:// {
	tls /certificates/0.crt /certificates/0.unencrypted.key
	try_files {path} /index.html
    file_server
}
