<div class="content">
    <p>This is a custom Angular application</p>
    <div class="token" *ngIf="token | async else noToken">Token received</div>
    <ng-template #noToken>Waiting for token...</ng-template>
    <pre *ngIf="config | async">{{ config | async | json }}</pre>
    <p *ngIf="tracker | async">Number of tracker items: {{ (tracker | async)?.total }}</p>
    <div class="form" *ngIf="item">
        <hr/>
        <form>
            <label>
                <span>Item description:</span>
                <textarea name="description" [(ngModel)]="item.description"></textarea>
            </label>
            <button (click)="saveForm()">Save</button>
        </form>
        <div *ngIf="loading" class="loading">
            Loading...
        </div>
    </div>
</div>
