/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 100%;
}

textarea {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.content {
    height: 100%;
}
